<div class="ability-block crew-choice {{#if owned}}owned{{/if}}" data-item-id="{{_id}}">
  <div class="ability-checkboxes">
    <input
      type="checkbox"
      class="crew-upgrade-checkbox"
      id="crew-upgrade-{{_id}}"
      data-item-id="{{_id}}"
      data-item-name="{{name}}"
      {{#if owned}}checked{{/if}}
    >
  </div>
  <label for="crew-upgrade-{{_id}}">
    <span class="ability-name">{{clean-name name}}:</span>
    <span class="ability-description">{{{md system.description}}}</span>
  </label>
</div>
