<section class="{{sectionClass}} item-list section-block {{#if isCollapsed}}collapsed{{/if}}" data-section-key="{{sectionKey}}">
  {{> "modules/bitd-alternate-sheets/templates/parts/section-controls.html"
    label=label
    flex=true
    showFilter=showFilter
    isFiltered=isFiltered
    filterTarget=filterTarget
    sectionKey=sectionKey
    isCollapsed=isCollapsed
    showAdd=showAdd
    addClass=addClass
    addDataAttrs=addDataAttrs
    dockable=dockable
  }}
  <div class="section-body">
    <div class="two-col-list">
      {{#each items as |item index|}}
      {{#with ../actor as |actor|}}
      {{> "modules/bitd-alternate-sheets/templates/parts/item.html" actor=actor item=item allow_edit=../../allow_edit}}
      {{/with}}
      {{/each}}
    </div>
  </div>
</section>
